@CHARSET "ISO-8859-1";

html {
	background-image: url(background.png);
}

body {
	
	font: 12pt arial, sans-serif;
	background-color: #ffffff;
	width: 900px;
	height: 900px;
	margin: 10px auto auto auto;
	padding: 10px;
	border: 4px grey solid;
	box-shadow: 0px 0px 10px 5px #d8d9db;
}

h1 {
	text-shadow: 1px 1px #c4c5c7;
	font: bold 24pt arial, sans-serif;
}

input {
	border: 2px grey solid;
	height: 24px;
}

table.bordered {
	border: 0.5px white solid;
	width: 100%;
	padding: 0px;
	border-collapse: collapse;
}

table.bordered td {
	border: 2px grey solid;
}

table.bordered th {
	border: 2px grey solid;
	background-color: #c4c5c7;
}
